{% extends 'base.html' %}
{% load static %}
{% block content %}

<header id="header_aboutus">
  <div class="container d-flex align-items-center justify-content-center">
    <img src="{% static 'about_us_header_pic.jpg' %}" class="img-fluid" alt="Aerial view of Suburbs">
    <h1 class="text-white position-absolute">About Us</h1>
  </div>
</header>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
      <!-- create the first card -->
      <div class="col">
          <div class="card h-100">
              <img class="card-img-top mx-auto" src="{% static 'icons/icons8-search-90.png' %}" alt="Personalised Search">
              <div class="card-body">
                  <h5 class="card-title">Personalised Search</h5>
                  <p class="card-text">Our powerful search engine allows you to find properties based on various factors that are important to you. Whether you're looking for a property within a certain price range, in a specific location, or with certain amenities, our search tool allows you to customize your search parameters to match your needs.</p>
              </div>
          </div>
      </div>

      <!-- create the second card -->
      <div class="col">
          <div class="card h-100">
              <img class="card-img-top mx-auto" src="{% static 'icons/icons8-explore-100.png' %}" alt="Explore Suburbs">
              <div class="card-body">
                  <h5 class="card-title">Explore Suburbs</h5>
                  <p class="card-text">Interested in learning more about a certain suburb? Our platform provides comprehensive data about different suburbs in South Africa, including proximity to points of interest, access to transportation, safety and security, and much more.</p>
              </div>
          </div>
      </div>

      <!-- create the third card -->
      <div class="col">
          <div class="card h-100">
              <img class="card-img-top mx-auto" src="{% static 'icons/icons8-update-100.png' %}" alt="Stay Updated">
              <div class="card-body">
                  <h5 class="card-title">Stay Updated</h5>
                  <p class="card-text">Our database is constantly updated with the latest listings from reputable South African property websites, ensuring you have access to the most current properties on the market.</p>
              </div>
          </div>
      </div>

      <!-- create the fourth card -->
      <div class="col">
          <div class="card h-100">
              <img class="card-img-top mx-auto" src="{% static 'icons/icons8-here-100.png' %}" alt="Your Journey Starts Here">
              <div class="card-body">
                  <h5 class="card-title">Your Journey Starts Here</h5>
                  <p class="card-text">Start exploring and find your dream home with MiBarrio today.</p>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
