{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex">
  <!-- Sidebar -->
  <div id="sidebar" class="p-3 bg-light">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="Reduce" height="20px">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:home' %}">
          <img src="{% static 'icons/icons8-home-96.png' %}" alt="Home" height="20px"> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:profile' %}">
          <img src="{% static 'icons/icons8-customer-90.png' %}" alt="Profile" height="20px"> Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:newSearch' %}">
          <img src="{% static 'icons/icons8-search-90.png' %}" alt="New Search" height="20px"> New Search
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:viewPastSearches' %}">
          <img src="{% static 'icons/icons8-time-machine-90.png' %}" alt="View Past Searches" height="20px"> View Past Searches
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:feedback' %}">
          <img src="{% static 'icons/icons8-thumbs-up-down-90.png' %}" alt="Give Us Feedback" height="20px"> Give Us Feedback
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'MiBarrioApp:logout' %}">
          <img src="{% static 'icons/icons8-logout-96.png' %}" alt="Logout" height="20px"> Logout
        </a>
      </li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="content" class="p-3">
    <div class="welcome-section">
      <h1>Welcome, {{ user.first_name }}!</h1>
      <p>We're thrilled to have you back!</p>
      <p>Our mission is to simplify your residential property search and provide you with personalised results that fit your unique preferences.</p>
      <a href="{% url 'MiBarrioApp:newSearch' %}" class="btn btn-primary">Ready to Explore? &rarr;</a>
      <p>Dive right in and start exploring the most recent and relevant property listings. Whether you're searching for a new home to rent or buy, or just browsing to see what's out there, we're here to make the process easier for you.</p>
      <a href="{% url 'MiBarrioApp:contactUs' %}" class="btn btn-primary">Need Help? &rarr;</a>
      <p>Remember, if you have any questions or if there's any way we can assist you, don't hesitate to reach out to our support team. We're here to help!</p>
    </div>
  </div>
</div>
{% endblock %}
