{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- login.html -->
<div class="form-container">
  <div class="row m-4 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-start">
      <img src="{% static 'house.jpg' %}" alt="Image of a House" class="img-fluid">
    </div>

    <div class="col-md-6 bg-light p-5">
      <h3 class="pb-3">Login</h3>

      <div class="form-style vh-90">
        <form method="post">{% csrf_token %}
          <div class="form-group pb-3">
            <input type="text" name="username" placeholder="Username" class="form-control" id="username"
              aria-describedby="emailHelp">
          </div>

          <div class="form-group pb-3 position-relative">
            <input type="password" name="password" placeholder="Password" class="form-control" id="password">
            <i class="fas fa-eye position-absolute"
              style="right: 15px; top: 35%; transform: translateY(-50%); cursor: pointer;" id="togglePassword"></i>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span
                class="pl-2 font-weight-bold">Remember Me</span></div>
            <div><a href="{% url 'MiBarrioApp:password_reset' %}">Forgot Password?</a></div>
          </div>
          <div class="pb-2">
            <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Login</button>
            <div class="pt-3 text-center">
              Don't have an account? <a href="{% url 'MiBarrioApp:register' %}">Register</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("togglePassword").addEventListener("click", function(e) {
      const passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
          passwordInput.type = "text";
          e.target.classList.remove("fa-eye");
          e.target.classList.add("fa-eye-slash");
      } else {
          passwordInput.type = "password";
          e.target.classList.remove("fa-eye-slash");
          e.target.classList.add("fa-eye");
      }
  });
</script>


{% endblock %}
