{% extends 'base.html' %}
{% block title %}New Search{% endblock %}
{% load static %}
{% block content %}

<div class="d-flex">

  <!-- Sidebar -->
  <div id="sidebar" class="p-3 bg-light">
    <ul class="nav flex-column">
      <!-- Arrow icon always visible -->
      <li class="nav-item">
        <a id="toggleSidebar" class="nav-link" href="#">
          <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="Reduce" height="20px">
        </a>
      </li>

      <!-- Wrapped sidebar items in a div for toggle functionality -->

      <div id="sidebarMenu" class="show">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:home' %}">
            <img src="{% static 'icons/icons8-home-96.png' %}" alt="Home" height="20px">
            <span class="nav-text"> Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:profile' %}">
            <img src="{% static 'icons/icons8-customer-90.png' %}" alt="Profile" height="20px">
            <span class="nav-text"> Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:newSearch' %}">
            <img src="{% static 'icons/icons8-search-90.png' %}" alt="New Search" height="20px">
            <span class="nav-text"> New Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:viewPastSearches' %}">
            <img src="{% static 'icons/icons8-time-machine-90.png' %}" alt="View Past Searches" height="20px">
            <span class="nav-text"> View Past Searches</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:feedback' %}">
            <img src="{% static 'icons/icons8-thumbs-up-down-90.png' %}" alt="Give Us Feedback" height="20px">
            <span class="nav-text"> Give Us Feedback</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:logout' %}">
            <img src="{% static 'icons/icons8-logout-96.png' %}" alt="Logout" height="20px">
            <span class="nav-text"> Logout</span>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <div class="container-fluid">

    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <a href="{% url 'MiBarrioApp:newSearch' %}" >Step 1: Find the Suburb</a>
      <a href="{% url 'MiBarrioApp:newSearch2' %}" class="active">Step 2: Select Property Filters</a>
      <a href="{% url 'MiBarrioApp:newSearch3' %}"> Step 3: View Property Listings</a>
    </div>

    <div class="row p-3" style="display: flex; align-items: stretch;">

      <!-- Step 2 Form -->
      <div class="col-md-6">
        <br>
        <form id="propertyFiltersForm" onsubmit="return validateForm();" action="{% url 'MiBarrioApp:newSearch2' %}" method="post">
          {% csrf_token %}
          <!--Set up search profile - get list of search profile names from database-->
          <div class="mb-3">
            <label for="suburbSelect" class="form-label">Select a Suburb</label>
            <div class="d-flex justify-content-center">
              <select class="form-select" id="suburbSelect" name="suburb" style="max-width: 350px; width: 100%;">
              </select>
            </div>
          </div>

          <div class="row mb-5 align-items-center justify-content-center">
            <div class="col-md-4">
              <label for="citySelect" class="form-label">Select Property Type</label>
            </div>
            <div class="col-md-5">
              <select class="form-select" id="citySelect" name="property_type" style="max-width: 200px; width: 100%;">
                <option value="Apartment or Flat">Apartment or Flat</option>
                <option value="House">House</option>
              </select>
            </div>
          </div>
          <!-- Rent and Buy Buttons -->
          <div class="mb-3">
            <input type="radio" id="rent"  name="rent_sale" value="Rent">
            <label for="rent" class="form-label">To Rent</label>

            <input type="radio" id="buy" name="rent_sale" value="Sale">
            <label for="buy" class="form-label">For Sale</label>
          </div>

          <div class="mb-3">
            <label for="min-price" class="form-label">Min-price</label>
            <select id="min-price" name="min_price">
              <!-- Options populated by JS -->
            </select>
          </div>

          <div class="mb-3">
            <label for="max-price" class="form-label">Max-price</label>
            <select id="max-price" name="max_price">
              <!-- Options populated by JS -->
            </select>
          </div>

          <div class="mb-3">
            <!-- Back-up Power Supply checkbox -->
            <div style="margin-bottom: 10px;">
              <input class="form-check-input" type="checkbox" name="back_up_power" value="True" id="powerSupply">
              <label class="form-check-label" for="powerSupply">Back-up Power Supply</label>
            </div>
            <!-- Water Supply checkbox -->
            <div>
              <input class="form-check-input" type="checkbox" name="back_up_water" value="True" id="waterSupply">
              <label class="form-check-label" for="waterSupply">Back-up Water Supply</label>
            </div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn btn-dark">Search</button>
          </div>
        </form>

        <div class="text-start mt-3" style="margin-top: auto;">  <!-- Aligns content to the end of the container, effectively making it "right-aligned" -->
          <a href="{% url 'MiBarrioApp:newSearch' %}" id="nextStepBtn" class="btn btn-secondary"><i class="arrow left"></i> Previous </a>
        </div>

      </div>

      <div class="col-md-6">
        <h3>MAP of the city</h3>
        <!-- Placeholder for the map, you'll integrate this part with Openstreetmaps -->
        <div id="cityMap" style="width: 100%; height: 400px; border: 1px solid #aaa;">
          <!-- Map will be shown here -->
        </div>


      </div>

    </div>

  </div>

</div>

{% endblock %}
