{% extends 'base.html' %}
{% block title %}New Search{% endblock %}
{% load static %}
{% block content %}

{% if messages %}
<div class="messages-container">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}


<div class="d-flex">

  <!-- Sidebar -->
  <div id="sidebar" class="p-3 bg-light">
    <ul class="nav flex-column">
      <!-- Arrow icon always visible -->
      <li class="nav-item">
        <a id="toggleSidebar" class="nav-link" href="#">
          <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="Reduce" height="20px">
        </a>
      </li>

      <!-- Wrapped sidebar items in a div for toggle functionality -->

      <div id="sidebarMenu" class="show">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:home' %}">
            <img src="{% static 'icons/icons8-home-96.png' %}" alt="Home" height="20px">
            <span class="nav-text"> Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:profile' %}">
            <img src="{% static 'icons/icons8-customer-90.png' %}" alt="Profile" height="20px">
            <span class="nav-text"> Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:newSearch' %}">
            <img src="{% static 'icons/icons8-search-90.png' %}" alt="New Search" height="20px">
            <span class="nav-text"> New Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:viewPastSearches' %}">
            <img src="{% static 'icons/icons8-time-machine-90.png' %}" alt="View Past Searches" height="20px">
            <span class="nav-text"> View Past Searches</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:feedback' %}">
            <img src="{% static 'icons/icons8-thumbs-up-down-90.png' %}" alt="Give Us Feedback" height="20px">
            <span class="nav-text"> Give Us Feedback</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:logout' %}">
            <img src="{% static 'icons/icons8-logout-96.png' %}" alt="Logout" height="20px">
            <span class="nav-text"> Logout</span>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <div class="container-fluid">
    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <a href="{% url 'MiBarrioApp:newSearch' %}">Step 1: Find the Suburb</a>
      <a href="{% url 'MiBarrioApp:newSearch2' %}">Step 2: Select Property Filters</a>
      <a href="{% url 'MiBarrioApp:newSearch3' %}" class="active"> Step 3: View Property Listings</a>
    </div>

    <div class="row p-3">

      <div class="col-md-12">

        <p>{{ response_data.message }}</p>

        <style>
          table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
            /* Adjust spacing between rows */
          }

          td,
          th {
            padding: 8px;
            text-align: left;
            background-color: #fff;
            /* Background color for each cell */
          }

          .record-row th {
            background-color: #f2f2f2;
            /* Background color for headers */
          }

          .record-row {
            border: 1px solid #ddd;
            /* Border for the main rows */
          }

          .record-image,
          .record-details,
          .save-checkbox {
            border: none;
            /* Remove border for inner cells */
          }

          .record-image {
            flex: 1;
          }

          .record-details {
            flex: 2;
            display: flex;
            align-items: center;
            /* New property */
          }

          .record-details>div {
            flex: 1;
            padding: 10px;
          }

          .save-checkbox {
            flex: 1;
            /* Changed from width to flex */
            display: flex;
            /* New property */
            align-items: center;
            /* New property */
          }
        </style>

        <form method="post" action="{% url 'MiBarrioApp:newSearch3' %}" id="property-form">
          {% csrf_token %}

          <table>
            <thead>
              <tr>
                <th colspan="3">Property Listings from Property24</th>
              </tr>
            </thead>
            <tbody>
              {% for record in response_data.records %}
              <tr class="record-row">
                <td class="record-image">
                  <img src="{{ record.Image }}" alt="{{ record.name }}" width="230"> <!-- Adjusted width -->
                </td>
                <td class="record-details">
                  <div>
                    <div>Suburb Name: {{ record.Suburb_Name }}</div>
                    <div>Listing url link: <a href="{{ record.source_url }}" target="_blank">View Property</a></div>
                    <div>Type of Property: {{ record.type_of_property }}</div>
                    <div>Price: R{{ record.Price }}</div>
                  </div>
                  <div>
                    <div>{% if record.garages != "NULL" %}# Garages: {{ record.garages }}{% endif %}</div>
                    <div>{% if record.floor_size != "NULL" %}Floor Size: {{ record.floor_size }}{% endif %}</div>
                    <div>{% if record.erf_size != "NULL" %}Erf Size: {{ record.erf_size }}{% endif %}</div>
                    <div>{% if record.bedrooms != "NULL" %}# Bedrooms: {{ record.bedrooms }}{% endif %}</div>
                    <div>{% if record.bathrooms != "NULL" %}# Bathrooms: {{ record.bathrooms }}{% endif %}</div>
                  </div>
                </td>
                <td class="save-checkbox">
                  <input type="checkbox" id="save-record-{{ forloop.counter }}" name="save-record"
                    value="{{ forloop.counter0 }}">
                  <label for="save-record-{{ forloop.counter }}">Select</label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <br>

          <button type="submit" class="btn btn-dark" id="save-button">Save</button>

          <!-- New buttons -->
          <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'MiBarrioApp:newSearch2' %}" class="btn btn-secondary">Previous</a>
            <div>
              <a href="{% url 'MiBarrioApp:newSearch' %}" class="btn btn-secondary">New Search</a>
              <a href="{% url 'MiBarrioApp:viewPastSearches' %}" class="btn btn-secondary">View Saved Listings</a>
            </div>
          </div>


        </form>

      </div>

    </div>

  </div>

</div>

<script>
  $(document).ready(function () {
    $('.record-row').each(function () {
      var detailDivs = $(this).find('.record-details div');
      console.log(detailDivs);
      var visibleCount = 0;
      detailDivs.each(function () {
        if ($(this).is(':visible') && $(this).text().trim() !== "") {
          visibleCount++;
        }
      });
      var imageCell = $(this).find('.record-image img');
      if (visibleCount <= 6) {
        imageCell.attr('width', '130');
      } else {
        imageCell.attr('width', '260');
      }
    });
  });

</script>


{% endblock %}
