{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="d-flex">

  <!-- Sidebar -->
  <div id="sidebar" class="p-3 bg-light">
    <ul class="nav flex-column">
      <!-- Arrow icon always visible -->
      <li class="nav-item">
        <a id="toggleSidebar" class="nav-link" href="#">
          <img src="{% static 'icons/icons8-left-arrow-100.png' %}" alt="Reduce" height="20px">
        </a>
      </li>

      <!-- Wrapped sidebar items in a div for toggle functionality -->
      <div id="sidebarMenu" class="show">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:home' %}">
            <img src="{% static 'icons/icons8-home-96.png' %}" alt="Home" height="20px">
            <span class="nav-text"> Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:profile' %}">
            <img src="{% static 'icons/icons8-customer-90.png' %}" alt="Profile" height="20px">
            <span class="nav-text"> Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:newSearch' %}">
            <img src="{% static 'icons/icons8-search-90.png' %}" alt="New Search" height="20px">
            <span class="nav-text"> New Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:viewPastSearches' %}">
            <img src="{% static 'icons/icons8-time-machine-90.png' %}" alt="View Past Searches" height="20px">
            <span class="nav-text"> View Past Searches</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:feedback' %}">
            <img src="{% static 'icons/icons8-thumbs-up-down-90.png' %}" alt="Give Us Feedback" height="20px">
            <span class="nav-text"> Give Us Feedback</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MiBarrioApp:logout' %}">
            <img src="{% static 'icons/icons8-logout-96.png' %}" alt="Logout" height="20px">
            <span class="nav-text"> Logout</span>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <!-- PROFILE SECTION -->

  <div class="container-fluid p-3">
    <div class="row">

      <!-- Account Details Section -->
      <div class="col-md-6 border-end pr-7 border-secondary">
        <h2>Account Details</h2>
        <form id="accountDetailsForm" action="{% url 'MiBarrioApp:profile' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="profile">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}" disabled>
          </div>
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname" value="{{ user.first_name }}"
              disabled>
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname" value="{{ user.last_name }}" disabled>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" disabled>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" value="********" disabled>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-dark" id="editSaveBtn">Edit</button>
            <button type="button" class="btn btn-secondary disabled" id="cancelBtn">Cancel</button>
            <input type="submit" id="hiddenSubmitBtn" style="display: none;">
          </div>
        </form>
      </div>

      <!-- Search Profiles Section -->
      <div class="col-md-6 pl-5">
        <h2>Search Profiles</h2>

        <!-- List of search profiles -->
        <div id="searchProfilesList">
          <div style="max-height:500px; overflow-x:auto; overflow-y:auto; max-width: 600px; ">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Search Profile Name</th>
                  <th style="min-width: 80px;">Age</th>
                  <th>Social & Cultural tags</th>
                  <th>Health & Wellness tags</th>
                  <th>Leisure & Recretion tags</th>
                  <th>Community & Services tags</th>
                  <th>Social & Cultural levels</th>
                  <th>Health & Wellness levels </th>
                  <th>Leisure & Recreation levels</th>
                  <th>Community & Services levels</th>
                  <th>Active Transportation</th>
                  <th>Public Transportation</th>
                  <th>Back-up Power Supply</th>
                  <th>Back-up Water Supply</th>
                  <th class="sticky-action-column">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for sp in search_profiles %}
                <tr>
                  <td>{{ sp.sp_name }}</td>
                  <td>{{ sp.age }}</td>
                  <td>{{ sp.social_cultural_tags }}</td>
                  <td>{{ sp.health_wellness_tags }}</td>
                  <td>{{ sp.leisure_recreation_tags }}</td>
                  <td>{{ sp.community_services_tags }}</td>
                  <td>{{ sp.social_cultural_levels }}</td>
                  <td>{{ sp.health_wellness_levels }}</td>
                  <td>{{ sp.leisure_recreation_levels }}</td>
                  <td>{{ sp.community_services_levels }}</td>
                  <td>{{ sp.transportation_active }}</td>
                  <td>{{ sp.transportation_public }}</td>
                  <td>{{ sp.backup_power_supply }}</td>
                  <td>{{ sp.backup_water_supply }}</td>

                  <td class="sticky-action-column">
                    <button class="btn btn-dark edit-btn" data-bs-toggle="modal" data-bs-target="#createProfileModal"
                      data-id="{{ sp.search_profileID }}" data-sp_name="{{ sp.sp_name }}" data-age="{{ sp.age }}"
                      data-social_cultural_tags="{{ sp.social_cultural_tags }}"
                      data-health_wellness_tags="{{ sp.health_wellness_tags }}"
                      data-leisure_recreation_tags="{{ sp.leisure_recreation_tags }}"
                      data-community_services_tags="{{ sp.community_services_tags }}"
                      data-social_cultural_levels="{{ sp.social_cultural_levels }}"
                      data-health_wellness_levels="{{ sp.health_wellness_levels }}"
                      data-leisure_recreation_levels="{{ sp.leisure_recreation_levels }}"
                      data-community_services_levels="{{ sp.community_services_levels }}"
                      data-transportation_active="{{ sp.transportation_active }}"
                      data-transportation_public="{{ sp.transportation_public }}"
                      data-backup_power_supply="{{ sp.backup_power_supply }}"
                      data-backup_water_supply="{{ sp.backup_water_supply }}" class="btn btn-primary edit-btn"
                      data-bs-toggle="modal" data-bs-target="#createProfileModal"
                      data-id="{{ sp.search_profileID }}">Edit</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Create New Button triggering the Modal -->
        <button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal"
          data-bs-target="#createProfileModal">Create New</button>

        <!-- Modal -->
        <div class="modal fade" id="createProfileModal" tabindex="-1" aria-labelledby="createProfileModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content p-3">
              <div class="modal-header">
                <h5 class="modal-title" id="createProfileModalLabel">Create Search Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="searchProfileForm" method="post" action="{% url 'MiBarrioApp:profile' %}">
                  {% csrf_token %}
                  <input type="hidden" name="form_type" value="search_profile">
                  <input type="hidden" id="editingSpId" name="editingSpId" value="">

                  <div class="mb-3">
                    <label for="sp_name" class="form-label">Enter Search Profile </label>
                    <input type="text" class="form-control" id="sp_name" name="sp_name" required>
                  </div>
                  <div class="mb-3">
                    <label for="age" class="form-label">Age Group</label>
                    <div class="d-flex justify-content-center">
                      <select class="form-select" id="age" name="age" style="max-width: 100px; width: 100%;" required>
                        <!-- Add age groups here -->
                        <option value="18-24">18-24</option>
                        <option value="25-34">25-34</option>
                        <option value="35-44">35-44</option>
                        <option value="45-54">45-54</option>
                        <option value="55-64">55-64</option>
                        <option value="65+">65+</option>
                        <!-- ... -->
                      </select>
                    </div>
                  </div>
                  <hr class="my-4"> <!-- Faint line separator -->
                  <div class="mb-3">
                    <label class="form-label fw-bold">Proximity Factors - Select sub-parameters</label>
                    <p>Select at least one tag per Proximity Factor</p>
                    <div class="row">
                      <!-- Social & Cultural Activities -->
                      <div class="col-12 mb-3 row align-items-center">
                        <label class="form-label col-md-3 col-sm-3"
                          style="text-align: left; padding-left: 1.5em;">Social & Cultural:</label>
                        <div id="social" class="col-md-9 col-sm-9">
                          <div class="row">
                            <div class="col-12">
                              <div id="checkbox-container">
                                <input type="checkbox" value="Eating" id="eating" name="social_cultural[]"> <label
                                  for="eating">Eating</label>
                                <input type="checkbox" value="Nightlife" id="nightlife" name="social_cultural[]">
                                <label for="nightlife">Nightlife</label>
                                <input type="checkbox" value="Culture" id="culture" name="social_cultural[]"> <label
                                  for="culture">Culture</label>
                                <!-- Add more checkboxes here -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Health & Wellness Activities -->
                      <div class="col-12 mb-3 row align-items-center">
                        <label class="form-label col-md-3 col-sm-3"
                          style="text-align: left; padding-left: 1.5em;">Health & Wellness:</label>
                        <div class="col-md-9 col-sm-9">
                          <div class="row">
                            <div class="col-12">
                              <div id="checkbox-container">
                                <input type="checkbox" value="Clinic" id="clinic" name="health_wellness[]"> <label
                                  for="clinic">Clinic</label>
                                <input type="checkbox" value="Dentist" id="dentist" name="health_wellness[]"> <label
                                  for="dentist">Dentist</label>
                                <input type="checkbox" value="Doctor" id="doctor" name="health_wellness[]"> <label
                                  for="doctor">Doctor</label>
                                <input type="checkbox" value="Hospital" id="hospital" name="health_wellness[]"> <label
                                  for="hospital">Hospital</label>
                                <input type="checkbox" value="Pharmacy" id="pharmacy" name="health_wellness[]"> <label
                                  for="pharmacy">Pharmacy</label>
                                <input type="checkbox" value="Veterinary" id="veterinary" name="health_wellness[]">
                                <label for="veterinary">Veterinary</label>
                                <!-- Add more checkboxes here -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Leisure & Recreation Activities -->
                      <div class="col-12 mb-3 row align-items-center">
                        <label class="form-label col-md-3 col-sm-3"
                          style="text-align: left; padding-left: 1.5em;">Leisure & Recreation:</label>
                        <div class="col-md-9 col-sm-9">
                          <div class="row">
                            <div class="col-12">
                              <div id="checkbox-container">
                                <input type="checkbox" value="Leisure spots" id="leisure_spots"
                                  name="leisure_recreation[]"> <label for="leisure_spots">Leisure spots</label>
                                <input type="checkbox" value="Sports Centres" id="sports_centres"
                                  name="leisure_recreation[]"> <label for="sports_centres">Sports Centres</label>
                                <input type="checkbox" value="Leisure Areas" id="leisure_areas"
                                  name="leisure_recreation[]"> <label for="leisure_areas">Leisure Areas</label>
                                <!-- Add more checkboxes here -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Community & Services -->
                      <div class="col-12 mb-3 row align-items-center">
                        <label class="form-label col-md-3 col-sm-3"
                          style="text-align: left; padding-left: 1.5em;">Community & Services:</label>
                        <div class="col-md-9 col-sm-9">
                          <div class="row">
                            <div class="col-12">
                              <div id="checkbox-container">
                                <input type="checkbox" value="Retail Shopping Centres" id="retail_shopping_centres" name="community_services[]">
                                <label for="retail_shopping_centres">Retail Shopping Centres</label>
                                <input type="checkbox" value="Community" id="community" name="community_services[]">
                                <label for="community">Community</label>
                                <input type="checkbox" value="Economic" id="economic" name="community_services[]">
                                <label for="economic">Economic</label>
                                <input type="checkbox" value="Education" id="education" name="community_services[]">
                                <label for="education">Education</label>
                                <!-- Add more checkboxes here -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="my-4"> <!-- Faint line separator -->
                  <div class="mb-3">

                    <label class="form-label fw-bold">Proximity Factors - Level of Importance</label>
                    <p>Rate from 1 (not important) to 5 (very important)</p>

                    <!-- Row containing both the number range and sliders -->
                    <div class="row">
                      <div class="row">

                        <!-- Social & Cultural Activities -->
                        <div class="col-12 mb-3 row">
                          <fieldset class="col-12 row" id="socialSlider">
                            <legend class="form-label col-md-4 col-sm-4"
                              style="text-align: left; padding-left: 2em; font-size: 16px;">
                              Social & Cultural</legend>
                            <div class="col-md-8 col-sm-8">
                              <ul class='likert'>
                                <li>
                                  <input type="radio" name="socialLikert" value="1" id="socialSlider1">
                                  <label for="socialSlider1">1</label>
                                </li>
                                <li>
                                  <input type="radio" name="socialLikert" value="2" id="socialSlider2">
                                  <label for="socialSlider2">2</label>
                                </li>
                                <li>
                                  <input type="radio" name="socialLikert" value="3" id="socialSlider3">
                                  <label for="socialSlider3">3</label>
                                </li>
                                <li>
                                  <input type="radio" name="socialLikert" value="4" id="socialSlider4">
                                  <label for="socialSlider4">4</label>
                                </li>
                                <li>
                                  <input type="radio" name="socialLikert" value="5" id="socialSlider5">
                                  <label for="socialSlider5">5</label>
                                </li>
                              </ul>
                            </div>
                          </fieldset>
                        </div>

                        <!-- Health & Wellness Activities -->
                        <div class="col-12 mb-3 row">
                          <fieldset class="col-12 row" id="healthSlider">
                            <legend class="form-label col-md-4 col-sm-4"
                              style="text-align: left; padding-left: 2em; font-size: 16px;">Health & Wellness</legend>
                            <div class="col-md-8 col-sm-8">
                              <ul class='likert'>
                                <li>
                                  <input type="radio" name="healthLikert" value="1" id="healthSlider1">
                                  <label for="healthSlider1">1</label>
                                </li>
                                <li>
                                  <input type="radio" name="healthLikert" value="2" id="healthSlider2">
                                  <label for="healthSlider2">2</label>
                                </li>
                                <li>
                                  <input type="radio" name="healthLikert" value="3" id="healthSlider3">
                                  <label for="healthSlider3">3</label>
                                </li>
                                <li>
                                  <input type="radio" name="healthLikert" value="4" id="healthSlider4">
                                  <label for="healthSlider4">4</label>
                                </li>
                                <li>
                                  <input type="radio" name="healthLikert" value="5" id="healthSlider5">
                                  <label for="healthSlider5">5</label>
                                </li>
                              </ul>
                            </div>
                          </fieldset>
                        </div>

                        <!-- Leisure & Recreation Activities -->
                        <div class="col-12 mb-3 row">
                          <fieldset class="col-12 row" id="leisureSlider">
                            <legend class="form-label col-md-4 col-sm-4"
                              style="text-align: left; padding-left: 2em; font-size: 16px;">
                              Leisure & Recreation</legend>
                            <div class="col-md-8 col-sm-8">
                              <ul class='likert'>
                                <li>
                                  <input type="radio" name="leisureLikert" value="1" id="leisureSlider1">
                                  <label for="leisureSlider1">1</label>
                                </li>
                                <li>
                                  <input type="radio" name="leisureLikert" value="2" id="leisureSlider2">
                                  <label for="leisureSlider2">2</label>
                                </li>
                                <li>
                                  <input type="radio" name="leisureLikert" value="3" id="leisureSlider3">
                                  <label for="leisureSlider3">3</label>
                                </li>
                                <li>
                                  <input type="radio" name="leisureLikert" value="4" id="leisureSlider4">
                                  <label for="leisureSlider4">4</label>
                                </li>
                                <li>
                                  <input type="radio" name="leisureLikert" value="5" id="leisureSlider5">
                                  <label for="leisureSlider5">5</label>
                                </li>
                              </ul>
                            </div>
                          </fieldset>
                        </div>

                        <!-- Community & Services  -->
                        <div class="col-12 mb-3 row">
                          <fieldset class="col-12 row" id="communitySlider">
                            <legend class="form-label col-md-4 col-sm-4"
                              style="text-align: left; padding-left: 2em; font-size: 16px;">
                              Community & Services</legend>
                            <div class="col-md-8 col-sm-8">
                              <ul class='likert'>
                                <li>
                                  <input type="radio" name="communityLikert" value="1" id="communitySlider1">
                                  <label for="communitySlider1">1</label>
                                </li>
                                <li>
                                  <input type="radio" name="communityLikert" value="2" id="communitySlider2">
                                  <label for="communitySlider2">2</label>
                                </li>
                                <li>
                                  <input type="radio" name="communityLikert" value="3" id="communitySlider3">
                                  <label for="communitySlider3">3</label>
                                </li>
                                <li>
                                  <input type="radio" name="communityLikert" value="4" id="communitySlider4">
                                  <label for="communitySlider4">4</label>
                                </li>
                                <li>
                                  <input type="radio" name="communityLikert" value="5" id="communitySlider5">
                                  <label for="communitySlider5">5</label>
                                </li>
                              </ul>
                            </div>
                          </fieldset>
                        </div>

                      </div>

                    </div>
                    <hr class="my-4"> <!-- Faint line separator -->
                    <div class="mb-3">
                      <label class="form-label fw-bold">Select Transportation Preference:</label>
                      <div class=" horizontal-checkboxes mb-3">

                        <!-- Checkboxes with icons -->
                        <!-- Active Transportation -->
                        <div class="d-inline-block mr-3">
                          <input class="form-check-input" type="checkbox" value="on" id="activeTransportation"
                            style=" margin-left: 15px ;" name="transportation_active">
                          <label class="form-check-label" for="activeTransportation">
                            Active<img src="{% static 'icons/icons8-cycling-100.png' %}" alt=""
                              style="height: 15px; margin-left:5px;">
                          </label>
                        </div>

                        <!-- Public Transportation -->
                        <div class="d-inline-block mr-3">
                          <input class="form-check-input" type="checkbox" value="on" id="publicTransportation"
                            style=" margin-left: 15px ;" name="transportation_public">
                          <label class="form-check-label" for="publicTransportation">
                            Public<img src="{% static 'icons/icons8-bus-100.png' %}" alt=""
                              style="height: 15px; margin-left:5px;">
                          </label>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4"> <!-- Faint line separator -->
                    <div class="mb-3">
                      <label class="form-label fw-bold">Other Preferences:</label>
                      <!-- Larger checkboxes -->
                      <!-- Back-up Power Supply checkbox -->
                      <div style="margin-bottom: 10px;">
                        <input class="form-check-input" type="checkbox" value="on" id="backup_power_supply"
                          name="backup_power_supply">
                        <label class="form-check-label" for="backup_power_supply">Back-up Power Supply</label>
                      </div>
                      <!-- Water Supply checkbox -->
                      <div>
                        <input class="form-check-input" type="checkbox" value="on" id="backup_water_supply"
                          name="backup_water_supply">
                        <label class="form-check-label" for="backup_water_supply">Back-up Water Supply</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveProfileBtn">Save</button>
                <input type="submit" id="hiddenSearchProfileSubmitBtn" style="display: none;" form="searchProfileForm">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}
