<!-- users/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br class="mt-0 mb-4">
<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Registration</h2>
              <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}  <!-- Form rendered here -->
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>
              </form>
              <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'MiBarrioApp:login' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
