* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(214,223,207);
}

.header{
  height:min-content;
  background: rgb(246,226, 181);
  text-align: left;
  padding-left: 15px ;
}

/**Main Body of the Page**/
.wrapper{
  flex: 1 0 auto;
  background: rgb(214,223,207);
}

.form-style {
  height:fit-content;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background: rgb(100,100,100);
  padding: 1%;
}

.footer-links {
  margin-top: 10px;
  color: white;
}

.footer-links a {
  color: inherit;
}

.footer-logo {
  width: auto;
  height: auto;
  display: block; /* this will make image a block element and remove the white space around it */
  margin: 0 auto;

}

.form-container{
  background-color: rgb(214,223,207);
}

.form-group.pb-3 {
  margin-bottom: 15px;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: start;
}

.col-md-6.d-none.d-md-block {
  height: 100%; /* might need to adjust this value */
}

.carousel-item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.carousel-item .card {
  margin: auto;
}

.carousel-item .card-img-top {
  width: 15px !important;;   /* adjust these values */
  /*height: 15px; /* adjust these values */
  object-fit: cover;
  margin: 20px auto 10px;
}

.carousel-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.carousel-item .card {
  margin: 20px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.carousel-inner {
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  height: 100%; /* occupy full height */
}


header img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
#mi {
  color: black;
}

#barrio{
  color: rgb(51, 100, 34)
}


/* for About Us Page*/

#header_aboutus {
  width: 100vw;    /* take up full viewport width */
 /* counteract any bootstrap container paddings */
  padding-left: 0; /* reset any padding */
  padding-right: 0;
  display: flex;
  align-items: center;  /* vertical centering */
  justify-content: center; /* horizontal centering */
}

#header_aboutus h1 {
  z-index: 1;  /* make sure it's above the image */
}


/* Responsive card styling */
@media (max-width: 576px) { /* mobile screens */
  .row-cols-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) { /* small screens/tablets */
  .row-cols-sm-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 992px) { /* medium screens/laptops */
  .row-cols-md-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 993px) { /* large screens/desktops */
  .row-cols-lg-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
  }
}
