asgiref==3.7.2
certifi==2023.5.7
distlib==0.3.6
Django==4.2.4
django-crispy-forms==2.0
filelock==3.12.2
pipenv==2023.6.26
platformdirs==3.8.0
sqlparse==0.4.4
typing_extensions==4.7.1
virtualenv==20.23.1
virtualenv-clone==0.5.7
whitenoise==6.5.0
